# Project 3 (Finance - Data Engineering Track)
- Gather data across 5 businesses.
- Seek to answer: 
    1. How have the stock prices of trended over the last years?
    1. Are there any discernible seasonal patterns in the stock prices of retail  
    companies over the last three years?

In [5]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

In [24]:
companies = ["tsla", "aapl", "mcd", "hd"]

## Tesla Financials

### Stocks

In [37]:
# Use .Ticker method to get company info
tsla = yf.Ticker("TSLA")

# Use .history method to show stocks 
tsla_stocks = tsla.history

# Show dataframe
tsla_stocks()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,254.490005,257.970001,252.910004,256.609985,86892400,0.0,0.0
2023-12-27 00:00:00-05:00,258.350006,263.339996,257.519989,261.440002,106494400,0.0,0.0
2023-12-28 00:00:00-05:00,263.660004,265.130005,252.710007,253.179993,113619900,0.0,0.0
2023-12-29 00:00:00-05:00,255.100006,255.190002,247.429993,248.479996,100615300,0.0,0.0
2024-01-02 00:00:00-05:00,250.080002,251.250000,244.410004,248.419998,104654200,0.0,0.0
2024-01-03 00:00:00-05:00,244.979996,245.679993,236.320007,238.449997,121082600,0.0,0.0
2024-01-04 00:00:00-05:00,239.250000,242.699997,237.729996,237.929993,102629300,0.0,0.0
2024-01-05 00:00:00-05:00,236.860001,240.119995,234.899994,237.490005,92379400,0.0,0.0
2024-01-08 00:00:00-05:00,236.139999,241.250000,235.300003,240.449997,85166600,0.0,0.0
2024-01-09 00:00:00-05:00,238.110001,238.960007,232.039993,234.960007,96705700,0.0,0.0
2024-01-10 00:00:00-05:00,235.100006,235.500000,231.289993,233.940002,91628500,0.0,0.0
2024-01-11 00:00:00-05:00,230.570007,230.929993,225.369995,227.220001,105873600,0.0,0.0
2024-01-12 00:00:00-05:00,220.080002,225.339996,217.149994,218.889999,122889000,0.0,0.0
2024-01-16 00:00:00-05:00,215.100006,223.490005,212.179993,219.910004,115355000,0.0,0.0
2024-01-17 00:00:00-05:00,214.860001,215.669998,212.009995,215.550003,103164400,0.0,0.0
2024-01-18 00:00:00-05:00,216.880005,217.449997,208.740005,211.880005,108595400,0.0,0.0
2024-01-19 00:00:00-05:00,209.990005,213.190002,207.559998,212.190002,102095800,0.0,0.0
2024-01-22 00:00:00-05:00,212.259995,217.800003,206.270004,208.800003,117952500,0.0,0.0
2024-01-23 00:00:00-05:00,211.300003,215.649994,207.750000,209.139999,106261200,0.0,0.0

In [13]:
start_date = dt.datetime(2000,1,1)

In [14]:
tsla = yf.download("TSLA", start=start_date, end=None)
print(tsla)

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2010-06-29    1.266667    1.666667    1.169333    1.592667    1.592667
2010-06-30    1.719333    2.028000    1.553333    1.588667    1.588667
2010-07-01    1.666667    1.728000    1.351333    1.464000    1.464000
2010-07-02    1.533333    1.540000    1.247333    1.280000    1.280000
2010-07-06    1.333333    1.333333    1.055333    1.074000    1.074000
...                ...         ...         ...         ...         ...
2024-01-17  214.860001  215.669998  212.009995  215.550003  215.550003
2024-01-18  216.880005  217.449997  208.740005  211.880005  211.880005
2024-01-19  209.990005  213.190002  207.559998  212.190002  212.190002
2024-01-22  212.259995  217.800003  206.270004  208.800003  208.800003
2024-01-23  211.300003  215.649994  207.750000  209.139999  209.139999

               Volume
Date
2010-06-29  281494500
2010-06-30  257806500
2010-07-01  123282000
2010-07-02   77097000
2010-07-06  103003500
...               ...
2024-01-17  103164400
2024-01-18  108595400
2024-01-19  102095800
2024-01-22  117952500
2024-01-23  106261200

[3415 rows x 6 columns]

In [16]:
stocks_df = pd.DataFrame(tsla)

In [17]:
stocks_df.to_csv("../Resources/tesla_stocks.csv")

### Balance Sheet

In [18]:
tsla_balance_sheet = yf.download("TSLA", period="max")
print(tsla_balance_sheet)

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2010-06-29    1.266667    1.666667    1.169333    1.592667    1.592667
2010-06-30    1.719333    2.028000    1.553333    1.588667    1.588667
2010-07-01    1.666667    1.728000    1.351333    1.464000    1.464000
2010-07-02    1.533333    1.540000    1.247333    1.280000    1.280000
2010-07-06    1.333333    1.333333    1.055333    1.074000    1.074000
...                ...         ...         ...         ...         ...
2024-01-17  214.860001  215.669998  212.009995  215.550003  215.550003
2024-01-18  216.880005  217.449997  208.740005  211.880005  211.880005
2024-01-19  209.990005  213.190002  207.559998  212.190002  212.190002
2024-01-22  212.259995  217.800003  206.270004  208.800003  208.800003
2024-01-23  211.300003  215.649994  207.750000  209.139999  209.139999

               Volume
Date
2010-06-29  281494500
2010-06-30  257806500
2010-07-01  123282000
2010-07-02   77097000
2010-07-06  103003500
...               ...
2024-01-17  103164400
2024-01-18  108595400
2024-01-19  102095800
2024-01-22  117952500
2024-01-23  106261200

[3415 rows x 6 columns]

In [23]:
tsla = yf.Ticker("TSLA")

tsla.balance_sheet

,2022-12-31,2021-12-31,2020-12-31
Ordinary Shares Number,3164000000.0,3099000000.0,2880000000.0
Share Issued,3164000000.0,3099000000.0,2880000000.0
Total Debt,5748000000.0,8873000000.0,13279000000.0
Tangible Book Value,44111000000.0,28472000000.0,21705000000.0
Invested Capital,46749000000.0,35531000000.0,32496000000.0
...,...,...,...
Receivables,2952000000.0,1913000000.0,1886000000.0
Accounts Receivable,2952000000.0,1913000000.0,1886000000.0
Cash Cash Equivalents And Short Term Investments,22185000000.0,17707000000.0,19384000000.0
Other Short Term Investments,5932000000.0,131000000.0,0.0
Cash And Cash Equivalents,16253000000.0,17576000000.0,19384000000.0

In [29]:
all_companies = yf.Tickers(companies)
all_companies.history()

all_companies.download(period="max")

[*********************100%%**********************]  4 of 4 completed
[*********************100%%**********************]  4 of 4 completed

Price            Close                                     Dividends       \
Ticker            AAPL          HD         MCD        TSLA      AAPL   HD
Date
1966-07-05         NaN         NaN    0.118092         NaN       NaN  NaN
1966-07-06         NaN         NaN    0.124402         NaN       NaN  NaN
1966-07-07         NaN         NaN    0.119895         NaN       NaN  NaN
1966-07-08         NaN         NaN    0.121247         NaN       NaN  NaN
1966-07-11         NaN         NaN    0.120796         NaN       NaN  NaN
...                ...         ...         ...         ...       ...  ...
2024-01-17  182.679993  355.700012  291.160004  215.550003       0.0  0.0
2024-01-18  188.630005  357.899994  294.359985  211.880005       0.0  0.0
2024-01-19  191.559998  362.410004  300.529999  212.190002       0.0  0.0
2024-01-22  193.889999  356.690002  298.410004  208.800003       0.0  0.0
2024-01-23  195.179993  350.779999  300.049988  209.139999       0.0  0.0

Price                       High              ...        Open              \
Ticker      MCD TSLA        AAPL          HD  ...         MCD        TSLA
Date                                          ...
1966-07-05  0.0  NaN         NaN         NaN  ...    0.000000         NaN
1966-07-06  0.0  NaN         NaN         NaN  ...    0.000000         NaN
1966-07-07  0.0  NaN         NaN         NaN  ...    0.000000         NaN
1966-07-08  0.0  NaN         NaN         NaN  ...    0.000000         NaN
1966-07-11  0.0  NaN         NaN         NaN  ...    0.000000         NaN
...         ...  ...         ...         ...  ...         ...         ...
2024-01-17  0.0  0.0  182.929993  359.760010  ...  290.140015  214.860001
2024-01-18  0.0  0.0  189.139999  358.709991  ...  292.089996  216.880005
2024-01-19  0.0  0.0  191.949997  362.959991  ...  298.000000  209.990005
2024-01-22  0.0  0.0  195.330002  361.459991  ...  300.950012  212.259995
2024-01-23  0.0  0.0  195.750000  355.880005  ...  297.440002  211.300003

Price      Stock Splits                     Volume                      \
Ticker             AAPL   HD  MCD TSLA        AAPL         HD      MCD
Date
1966-07-05          NaN  NaN  0.0  NaN         NaN        NaN   388800
1966-07-06          NaN  NaN  0.0  NaN         NaN        NaN   692550
1966-07-07          NaN  NaN  0.0  NaN         NaN        NaN  1858950
1966-07-08          NaN  NaN  0.0  NaN         NaN        NaN  1239300
1966-07-11          NaN  NaN  0.0  NaN         NaN        NaN   656100
...                 ...  ...  ...  ...         ...        ...      ...
2024-01-17          0.0  0.0  0.0  0.0  47317400.0  2646100.0  2008200
2024-01-18          0.0  0.0  0.0  0.0  78005800.0  2510700.0  2221200
2024-01-19          0.0  0.0  0.0  0.0  68741000.0  3233600.0  4240800
2024-01-22          0.0  0.0  0.0  0.0  60133900.0  4003700.0  3250200
2024-01-23          0.0  0.0  0.0  0.0  42300900.0  3877600.0  1873500

Price
Ticker             TSLA
Date
1966-07-05          NaN
1966-07-06          NaN
1966-07-07          NaN
1966-07-08          NaN
1966-07-11          NaN
...                 ...
2024-01-17  103164400.0
2024-01-18  108595400.0
2024-01-19  102095800.0
2024-01-22  117952500.0
2024-01-23  106261200.0

[14486 rows x 28 columns]