# Project 3 (Finance - Data Engineering Track)
- Gather data across 5 businesses.
- Seek to answer: 
    1. How have the stock prices of trended over the last years?
    1. Are there any discernible seasonal patterns in the stock prices of retail  
    companies over the last three years?

In [5]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

## Tesla Financials

### Stocks

In [4]:
# Use .Ticker method to get company info
tsla = yf.Ticker("TSLA")

# Use .history method to show stocks 
tsla_stocks = tsla.history

# Show dataframe
tsla_stocks()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,254.490005,257.970001,252.910004,256.609985,86892400,0.0,0.0
2023-12-27 00:00:00-05:00,258.350006,263.339996,257.519989,261.440002,106494400,0.0,0.0
2023-12-28 00:00:00-05:00,263.660004,265.130005,252.710007,253.179993,113619900,0.0,0.0
2023-12-29 00:00:00-05:00,255.100006,255.190002,247.429993,248.479996,100615300,0.0,0.0
2024-01-02 00:00:00-05:00,250.080002,251.250000,244.410004,248.419998,104654200,0.0,0.0
2024-01-03 00:00:00-05:00,244.979996,245.679993,236.320007,238.449997,121082600,0.0,0.0
2024-01-04 00:00:00-05:00,239.250000,242.699997,237.729996,237.929993,102629300,0.0,0.0
2024-01-05 00:00:00-05:00,236.860001,240.119995,234.899994,237.490005,92379400,0.0,0.0
2024-01-08 00:00:00-05:00,236.139999,241.250000,235.300003,240.449997,85166600,0.0,0.0
2024-01-09 00:00:00-05:00,238.110001,238.960007,232.039993,234.960007,96705700,0.0,0.0
2024-01-10 00:00:00-05:00,235.100006,235.500000,231.289993,233.940002,91628500,0.0,0.0
2024-01-11 00:00:00-05:00,230.570007,230.929993,225.369995,227.220001,105873600,0.0,0.0
2024-01-12 00:00:00-05:00,220.080002,225.339996,217.149994,218.889999,122889000,0.0,0.0
2024-01-16 00:00:00-05:00,215.100006,223.490005,212.179993,219.910004,115355000,0.0,0.0
2024-01-17 00:00:00-05:00,214.860001,215.669998,212.009995,215.550003,103164400,0.0,0.0
2024-01-18 00:00:00-05:00,216.880005,217.449997,208.740005,211.880005,108595400,0.0,0.0
2024-01-19 00:00:00-05:00,209.990005,213.190002,207.559998,212.190002,102095800,0.0,0.0
2024-01-22 00:00:00-05:00,212.259995,217.800003,206.270004,208.800003,117952500,0.0,0.0
2024-01-23 00:00:00-05:00,211.300003,215.649994,207.750000,209.139999,106261200,0.0,0.0

In [13]:
start_date = dt.datetime(2000,1,1)

In [14]:
tsla = yf.download("TSLA", start=start_date, end=None)
print(tsla)

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2010-06-29    1.266667    1.666667    1.169333    1.592667    1.592667
2010-06-30    1.719333    2.028000    1.553333    1.588667    1.588667
2010-07-01    1.666667    1.728000    1.351333    1.464000    1.464000
2010-07-02    1.533333    1.540000    1.247333    1.280000    1.280000
2010-07-06    1.333333    1.333333    1.055333    1.074000    1.074000
...                ...         ...         ...         ...         ...
2024-01-17  214.860001  215.669998  212.009995  215.550003  215.550003
2024-01-18  216.880005  217.449997  208.740005  211.880005  211.880005
2024-01-19  209.990005  213.190002  207.559998  212.190002  212.190002
2024-01-22  212.259995  217.800003  206.270004  208.800003  208.800003
2024-01-23  211.300003  215.649994  207.750000  209.139999  209.139999

               Volume
Date
2010-06-29  281494500
2010-06-30  257806500
2010-07-01  123282000
2010-07-02   77097000
2010-07-06  103003500
...               ...
2024-01-17  103164400
2024-01-18  108595400
2024-01-19  102095800
2024-01-22  117952500
2024-01-23  106261200

[3415 rows x 6 columns]

In [15]:
df = pd.DataFrame(tsla)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...
2024-01-17,214.860001,215.669998,212.009995,215.550003,215.550003,103164400
2024-01-18,216.880005,217.449997,208.740005,211.880005,211.880005,108595400
2024-01-19,209.990005,213.190002,207.559998,212.190002,212.190002,102095800
2024-01-22,212.259995,217.800003,206.270004,208.800003,208.800003,117952500
2024-01-23,211.300003,215.649994,207.750000,209.139999,209.139999,106261200